#states { fill: none; stroke: #555555; stroke-width: 0.5px; }


svg .selectedCircle {

	opacity: 0.5;
	stroke-width: 5;
	stroke-opacity: 0.5;
}

svg .star {

	
	stroke-width: 5;
	stroke-opacity: 0.5;
	opacity:0.5;
}

svg {
	font: 10px sans-serif;
	padding: 10px;
	width: 90%;
}

.axis 
.frame {
	shape-rendering: crispEdges;
}

.axis path,
.axis line {
	fill:none;
	stroke: black;
	shape-rendering: crispEdges;
}
.axis line {
	stroke: #ddd;
}

.axis path {
	fill: none;
	stroke:black;
	
}

.frame {
	fill: none;
	strole: #aaa;
}

.extent {
	fill:#000;
	fill-opacity: .125;
	stroke: #fff;
}

.selected1 {
	fill:#1f77b4;
	stroke:#1f77b4;
}

.selected2 {
	fill:#ff7f0e;
	stroke:#ff7f0e;
}

.selected3 {
	fill:#2ca02c;
	stroke:#2ca02c;
}

.selected4 {
	fill:#d62728;
	stroke:#d62728;
}

.selected5 {
	fill:#9467bd;
	stroke:#9467bd;
}

.selected6 {
	fill:#8c564b;
	stroke:#8c564b;
}

.selected7 {
	fill:#e377c2;
	stroke:#e377c2;
}

.selected8 {
	fill:#7f7f7f;
	stroke:#7f7f7f;
}

.selected9 {
	fill:#bcbd22;
	stroke:#bcbd22;
}

.selected10 {
	fill:#17becf;
	stroke:#17becf;
}

